build/
*.o
*.a
*.so
piscine-simulator
test_score
test_levels
test_engine

rendu/
trace/

*.log
*.swp
*.swo
*~
.DS_Store
.vscode/
.idea/
*.out
/tmp/

*.dSYM/
*.su
*.gch
*.mod

valgrind-out.txt
.clang-format
compile_commands.json
